<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwatong.radio.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.hwatong.radio.ui.Radio"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          
            <intent-filter>
                <action android:name="com.hwatong.radio.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
             <intent-filter>
                <action android:name="com.hwatong.media.RADIO_UI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        
        <receiver android:name="com.hwatong.radio.receiver.SoundReceiver">
            <intent-filter>
                <action android:name="com.hwatong.voice.OPEN_AM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>